html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: "Playfair Display", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Barlow", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding: 0 99px;
}

/* menu */
.menu {
    padding-top: 47px;
}
.menu h3 {
    display: inline-block;
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 42px;
    color: #2f2e2e;
    max-width: 200px;
}
.menu h3 a{
    text-decoration: none;
    color: #2f2e2e;
    max-width: 200px;
    width: 100%;
}
.menu__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 676px;
    width: 100%;
}
.menu__items {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 90px;
    flex-wrap: wrap;
}
.menu__item {
    min-width: 80px;
}
.menu__item a {
    text-decoration: none;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #2f2e2e;
    transition: font-weight 0.3s ease;
}
.menu__item a:hover {
    font-weight: 700;
    color: #2f2e2e;
}
.menu__search {
    transition: transform 0.3s ease;
}

.menu__search:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1100px){
    .menu__items {
        margin-left: 10px;
        gap: 30px;
    }
}

@media screen and (max-width: 610px) {
    .menu__flex {
        flex-direction: column;
    }

    .menu__nav {
        flex-direction: column;
        align-items: center;
    }

    .menu__items {
        margin-left: 0;
        margin-top: 15px;
        flex-direction: column;
        align-items: center;
    }

    .menu__search {
        display: none;
    }

    .menu__item {
        text-align: center;
    }
}

/* header */
.header {
    margin-top: 88px;
}
.header__flex {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.header__left {
    background: linear-gradient(91deg, rgba(244, 246, 245, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
    max-width: 691px;
    width: 100%;
    height: 550px;
    position: absolute;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__left h1 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 51px;
    color: #2f2e2e;
    max-width: 425px;
    margin-right: 63px;
}

.header__left p {
    font-family: var(--second-family);
    font-weight: 200;
    font-size: 32px;
    color: #2f2e2e;
    max-width: 425px;
    margin-right: 63px;
    margin-bottom: 20px;
}
.header__right {
}

@media screen and (max-width: 550px){
    .header__left {
        padding-left: 10px;
    }
}

/* our services */
.our__services {
    background: rgba(37, 77, 77, 0.2);
    margin-top: -4px;
    padding-bottom: 64px;
}

.our__services h2 {
    padding-top: 20px;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 51px;
    text-align: center;
    color: #2f2e2e;
}
.our__services-flex {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    padding: 0 79px;

}
.our__services-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our__services-card h5 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 27px;
    text-align: center;
    color: #2f2e2e;
}

.our__services-card p {
    margin-top: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #2f2e2e;
    max-width: 158px;
}

@media screen and (max-width: 900px){
    .our__services-flex {
        padding: 0;
    }
}

@media screen and (max-width: 720px){
    .our__services > .container {
        padding: 10px;
    }
}

@media screen and (max-width: 540px){
    .our__services h2 {
        font-size: 35px;
    }
    .our__services-flex {
        flex-direction: column;
        gap: 30px;
    }
}

/* about us */
.about__us {
    margin-top: 75px;
}
.about__us-flex {
    display: flex;
    justify-content: space-between;
    gap: 59px;
}
.about__left {
    max-width: 735px;
    width: 100%;
}
.about__right-flex {
    display: flex;
    flex-direction: column;
}

.about__right-flex h2 {
    margin-top: 68px;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 51px;
    color: #2f2e2e;
}

.about__right-flex p {
    margin-top: 25px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 31px;
    color: #2f2e2e;
    max-width: 448px;
}
.about__right-button {
    margin-top: 68px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 24px;
    color: #2f2e2e;
    text-decoration: none;
    transition: transform 0.3s ease;
    transform-origin: left;
}

.about__right-button:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1250px){
    .about__us > .container {
        padding: 0 15px;
    }
}

@media screen and (max-width: 1100px) {
    .about__us-flex {
        flex-direction: column;
        align-items: center;
    }

    .about__right-flex h2 {
        max-width: none;
        padding: 0 20px;
        text-align: center;
    }

    .about__right-flex p {
        max-width: none;
        padding: 0 20px;
        text-align: center;
    }

    .about__right-button {
        text-align: center;
    }
}

@media screen and (max-width: 540px){
    .about__right-flex h2 {
        font-size: 35px;
    }

    .about__right-flex p {
        font-size: 16px;
    }

    .about__right-button {
        margin-top: 30px;
        font-size: 16px;
    }
}